ref_solns/cyl3d_coarse.4iters.h5 filter=lfs diff=lfs merge=lfs -text
ref_solns/cyl3d.mflow.2iters.h5 filter=lfs diff=lfs merge=lfs -text
meshes/wedge.msh filter=lfs diff=lfs merge=lfs -text
ref_solns/cyl3d_coarse.8iters.varp.h5 filter=lfs diff=lfs merge=lfs -text
ref_solns/cyl3d.dtconst.gpu.h5 filter=lfs diff=lfs merge=lfs -text
ref_solns/cyl3d.dtconst.gpu.varp.h5 filter=lfs diff=lfs merge=lfs -text
ref_solns/cyl3d.mflow.gpu.2iters.h5 filter=lfs diff=lfs merge=lfs -text
ref_solns/cyl3d.dtconst.cpu.h5 filter=lfs diff=lfs merge=lfs -text
ref_solns/cyl-2d.cpu.h5 filter=lfs diff=lfs merge=lfs -text
meshes/cyl-2d-mixed.msh filter=lfs diff=lfs merge=lfs -text
ref_solns/cyl-2d.meanRestart.cpu.h5 filter=lfs diff=lfs merge=lfs -text
ref_solns/rings.centerline.By.np1.h5 filter=lfs diff=lfs merge=lfs -text
ref_solns_pressure_primitives filter=lfs diff=lfs merge=lfs -text
ref_solns_pressure_primitives/rings.centerline.By.np1.h5 filter=lfs diff=lfs merge=lfs -text
ref_solns_pressure_primitives/cyl-2d.meanRestart.cpu.h5 filter=lfs diff=lfs merge=lfs -text
ref_solns_pressure_primitives/cyl3d_coarse.4iters.h5 filter=lfs diff=lfs merge=lfs -text
ref_solns_pressure_primitives/cyl3d.dtconst.cpu.h5 filter=lfs diff=lfs merge=lfs -text
ref_solns_pressure_primitives/cyl3d.dtconst.gpu.h5 filter=lfs diff=lfs merge=lfs -text
ref_solns_pressure_primitives/cyl3d.dtconst.gpu.varp.h5 filter=lfs diff=lfs merge=lfs -text
ref_solns_pressure_primitives/cyl3d.mflow.gpu.2iters.h5 filter=lfs diff=lfs merge=lfs -text
ref_solns_pressure_primitives/cyl.r0.p2.iter4.h5 filter=lfs diff=lfs merge=lfs -text
ref_solns_pressure_primitives/By.h5 filter=lfs diff=lfs merge=lfs -text
ref_solns_pressure_primitives/cyl3d_coarse.8iters.varp.h5 filter=lfs diff=lfs merge=lfs -text
ref_solns_pressure_primitives/cyl3d.mflow.2iters.h5 filter=lfs diff=lfs merge=lfs -text
ref_solns_pressure_primitives/forcing-periodic-square.h5 filter=lfs diff=lfs merge=lfs -text
ref_solns_pressure_primitives/02-12-2021 filter=lfs diff=lfs merge=lfs -text
ref_solns_pressure_primitives/cyl-2d.cpu.h5 filter=lfs diff=lfs merge=lfs -text
ref_solns_pressure_primitives/cyl3d.mflow.2iters.bulkVisc.dtconst.h5 filter=lfs diff=lfs merge=lfs -text
ref_solns_pressure_primitives/cyl.r1.p2.iter4.h5 filter=lfs diff=lfs merge=lfs -text
ref_solns_pressure_primitives/02-12-2021/cyl3d.dtconst.cpu.h5 filter=lfs diff=lfs merge=lfs -text
ref_solns_pressure_primitives/02-12-2021/cyl3d.dtconst.gpu.h5 filter=lfs diff=lfs merge=lfs -text
ref_solns_pressure_primitives/02-12-2021/cyl3d.dtconst.gpu.varp.h5 filter=lfs diff=lfs merge=lfs -text
ref_solns_pressure_primitives/02-12-2021/cyl3d.mflow.2iters.h5 filter=lfs diff=lfs merge=lfs -text
ref_solns_pressure_primitives/02-12-2021/cyl3d.mflow.gpu.2iters.h5 filter=lfs diff=lfs merge=lfs -text
ref_solns_pressure_primitives/02-12-2021/cyl3d_coarse.4iters.h5 filter=lfs diff=lfs merge=lfs -text
ref_solns_pressure_primitives/02-12-2021/cyl3d_coarse.8iters.varp.h5 filter=lfs diff=lfs merge=lfs -text
ref_solns_pressure_primitives/02-12-2021/cyl3d_dtconst.4iters.h5 filter=lfs diff=lfs merge=lfs -text
meshes/axi-annulus.msh filter=lfs diff=lfs merge=lfs -text
ref_solns/annulus.restart.sol.h5 filter=lfs diff=lfs merge=lfs -text
ref_solns/annulus.50100.sol.h5 filter=lfs diff=lfs merge=lfs -text
ref_solns/pipe.100100.sol.h5 filter=lfs diff=lfs merge=lfs -text
ref_solns/pipe.restart.sol.h5 filter=lfs diff=lfs merge=lfs -text
ref_solns/pipe.mix.161100.sol.h5 filter=lfs diff=lfs merge=lfs -text
ref_solns/pipe.mix.restart.sol.h5 filter=lfs diff=lfs merge=lfs -text
ref_solns/restart_non-lte-restart-test.lte.h5 filter=lfs diff=lfs merge=lfs -text
ref_solns/restart_non-lte-restart-test.noneq.h5 filter=lfs diff=lfs merge=lfs -text
ref_solns/plasma.lte1d.final.h5 filter=lfs diff=lfs merge=lfs -text
lte-data/argon_thermo_1atm.h5 filter=lfs diff=lfs merge=lfs -text
lte-data/argon_transport_1atm.h5 filter=lfs diff=lfs merge=lfs -text
ref_solns/heatedBox filter=lfs diff=lfs merge=lfs -text
ref_solns/heatedBox/restart_output.sol.h5 filter=lfs diff=lfs merge=lfs -text
ref_solns/spongeBox/restart_output.sol.h5 filter=lfs diff=lfs merge=lfs -text
meshes/spongeBox.msh filter=lfs diff=lfs merge=lfs -text
ref_solns/lequere-varmu/restart_output-lequere-varmu.sol.h5 filter=lfs diff=lfs merge=lfs -text
ref_solns/lequere-varmu/reference-lequere-varmu.sol.h5 filter=lfs diff=lfs merge=lfs -text
meshes/channel182p4_25x9p4_THIN.msh filter=lfs diff=lfs merge=lfs -text
ref_solns/stabChan/restart_output.sol.h5 filter=lfs diff=lfs merge=lfs -text
