test/ref_solns/cyl3d.mflow.2iters.bulkVisc.dtconst.h5 filter=lfs diff=lfs merge=lfs -text
test/ref_solns/cyl.r0.p2.iter4.h5 filter=lfs diff=lfs merge=lfs -text
test/ref_solns/cyl.r1.p2.iter4.h5 filter=lfs diff=lfs merge=lfs -text
test/ref_solns/forcing-periodic-square.h5 filter=lfs diff=lfs merge=lfs -text
test/meshes/periodic-square.mesh filter=lfs diff=lfs merge=lfs -text
test/ref_solns/cyl3d.dtconst.heatSource.cpu.h5 filter=lfs diff=lfs merge=lfs -text
test/ref_solns/collisions/Mason.fitted.h5 filter=lfs diff=lfs merge=lfs -text
test/ref_solns/collisions/Mason.h5 filter=lfs diff=lfs merge=lfs -text
test/ref_solns/collisions/Chung.fitted.h5 filter=lfs diff=lfs merge=lfs -text
test/ref_solns/collisions/Chung.h5 filter=lfs diff=lfs merge=lfs -text
test/ref_solns/collisions/Devoto.argon.IA.h5 filter=lfs diff=lfs merge=lfs -text
test/ref_solns/collisions/Devoto.fitted.h5 filter=lfs diff=lfs merge=lfs -text
test/ref_solns/collisions/Devoto.h5 filter=lfs diff=lfs merge=lfs -text
test/ref_solns/transport/Chung.transport.h5 filter=lfs diff=lfs merge=lfs -text
test/ref_solns/transport/Devoto1973.transport.h5 filter=lfs diff=lfs merge=lfs -text
test/ref_solns/reaction.test.h5 filter=lfs diff=lfs merge=lfs -text
test/ref_solns/collisions/Amdur_Mason.estimated.h5 filter=lfs diff=lfs merge=lfs -text
test/ref_solns/collisions/Amdur_Mason.h5 filter=lfs diff=lfs merge=lfs -text
test/ref_solns/reaction/excitation.3000K.ion1e-4.h5 filter=lfs diff=lfs merge=lfs -text
test/meshes/flatBox.msh filter=lfs diff=lfs merge=lfs -text
test/ref_solns/noSGM1K/restart_output.sol.h5 filter=lfs diff=lfs merge=lfs -text
test/ref_solns/sigma1K_1/restart_output.sol.h5 filter=lfs diff=lfs merge=lfs -text
test/ref_solns/smag1K_1/restart_output.sol.h5 filter=lfs diff=lfs merge=lfs -text
test/ref_solns/plate150K/restart_output.sol.h5 filter=lfs diff=lfs merge=lfs -text
test/ref_solns/plate150K_1step/restart_output.sol.h5 filter=lfs diff=lfs merge=lfs -text
test/ref_solns/interpInlet/restart_output.sol.h5 filter=lfs diff=lfs merge=lfs -text
test/meshes/spongeBox.msh filter=lfs diff=lfs merge=lfs -text
test/ref_solns/sgsLoMach/restart_output.sol.h5 filter=lfs diff=lfs merge=lfs -text
test/ref_solns/aveLoMach/restart_output.sol.h5 filter=lfs diff=lfs merge=lfs -text
