variables:
  CUSTOM_CI_BUILDS_DIR: "/usr/workspace/utaustin/gitlab-runner"
  
## job1:
##  tags:
##    - quartz
##    - shell
##  script:
##    - echo "hello world2"

tioga:
 id_tokens:
   SITE_ID_TOKEN:
     aud: https://lc.llnl.gov/gitlab
 variables:
   ROCM_VER: "6.4.2"
   CCE_VER: "20.0.0"
   MPICH_VER: "9.0.1"
   SW_HOME: "/usr/workspace/utaustin/tioga/sw"
 stage: build
 tags:
   - tioga
   - shell
 script:
   - echo "Tioga Build/Test -> ROCM ${ROCM_VER}"
   - echo "Set up module environment"
   - module --force purge
   - module load StdEnv
   - module load rocmcc/${ROCM_VER}-cce-${CCE_VER}-magic
   - module load cray-mpich/${MPICH_VER}
   - module list
   - echo "Set up tps dependencies"
   - export TOOLCHAIN="rocm-${ROCM_VER}_cce-${CCE_VER}_mpich-${MPICH_VER}"
   - export GRVY_DIR=${SW_HOME}/${TOOLCHAIN}/grvy
   - export METIS_DIR=${SW_HOME}/${TOOLCHAIN}/metis
   - export HYPRE_DIR=${SW_HOME}/${TOOLCHAIN}/hypre-2.18.1
   - export MFEM_DIR=${SW_HOME}/${TOOLCHAIN}/mfem-4.5.2-hip
   - export HDF5_DIR=${SW_HOME}/${TOOLCHAIN}/hdf5
   - $(grep "MPI_DIR" $(which mpicxx))
   - $(grep "MPI_ADD_FOR_LINK" $(which mpicxx))
   - export ADD_FOR_LINK="-Wl,-rpath,$MPI_DIR/lib $MPI_ADD_FOR_LINK"
   - export LD_LIBRARY_PATH=$HYPRE_DIR/lib:$METIS_DIR/lib:$LD_LIBRARY_PATH
   - echo "Compiling tps"
   - ./bootstrap
   - ./configure CXXFLAGS="-g -O3" --enable-gpu-hip HIP_ARCH=gfx90a --without-masa --disable-valgrind
   - make -j2
   - flux run -N1 make check
