*~
*.in
*.o
*.lo
*.la
*.log
*.trs
config.log
config.status
configure
Makefile
aclocal.m4
libtool.m4
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
build-aux
libtool
stamp-h1
config.h
tps_config.h
autom4te.cache
.deps
*kdev*
